.footer-container{
    background-color: #1C1C1C;
    color: rgba(255, 255, 255, 0.578);
    padding-top: 80px;
}
.card-contain{
    overflow-x: hidden;
}

.footer-info{
    color: rgba(255, 255, 255, 0.578);
}

.icon {
    margin: 5px;
    padding: 5px;
    background-color: #1C1C1C;
    color: rgb(155, 155, 155);
    font-size: 30px;
  }
  .icon:hover {
    background-color: teal;
  }